################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Revette App/.vs/Revette App/v16
/Revette App/Revette App/Debug/Revette App.tlog
/Revette App/Revette App/Debug
/Revette App/Debug
/Revette App/x64/Debug
/Revette App/Revette App/x64/Debug
/Revette App/Revette App/Revette App.vcxproj.user
/Revette App/Revette App/Revette App.vcxproj.filters
/Revette App/Revette App/Revette App.vcxproj
