################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Revette App/.vs/Revette App/v16
/Revette App/Revette App/Debug/Revette App.tlog
/Revette App/Revette App/Debug
/Revette App/Debug
/Revette App/x64/Debug
/Revette App/Revette App/x64/Debug
/Revette App/Revette App/Revette App.vcxproj.user
/Revette App/Revette App/Revette App.vcxproj.filters
/Revette App/Revette App/Revette App.vcxproj
/Revette App/Revette App/x64/Release/vc142.pdb
/Revette App/Revette App/x64/Release/Revette App.tlog/unsuccessfulbuild
/Revette App/Revette App/x64/Release/Revette App.tlog/Revette App.lastbuildstate
/Revette App/Revette App/x64/Release/Revette App.tlog/CL.command.1.tlog
/Revette App/Revette App/x64/Release/Revette App.tlog
/Revette App/Revette App/x64/Release/Revette App.log
